.home-body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

.home-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.text-content {
    flex: 1;
    padding-right: 20px;
    text-align: left;
    /* Ensures text is left-aligned */
}

.text-content header h1 {
    font-size: 2em;
    margin: 0;
}

.text-content header h2 {
    font-size: 3em;
    color: #c00;
    margin: 10px 0;
}

.text-content .content p {
    font-size: 0.8em;
    line-height: 1.5;
    margin: 10px 0;
}

.image-content {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.image-content img {
    max-width: 100%;
    height: auto;
}

.container {
    text-align: center;
}

.carousel-container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    height: 80%;
    padding-top: 30px;
}

.carousel-container img {
    width: 90%;
    /* Adjust the width as needed */
    height: 500px;
    display: block;
    margin: 0 auto;
    /* Center the image horizontally */
}

.cc {
    flex: 1;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: box-shadow 0.3s;
    min-height: 40vh;
    position: relative;
}

.card:hover {
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
    transform: translate3D(0, -1px, 0) scale(1.03);
}

.circles {
    display: flex;
    flex-direction: column;
    /* Change to column layout for smaller screens */
    margin-top: 4rem;
    margin-bottom: 3rem;
    align-items: center;
    /* Center align items */
}

.circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    background-color: rgb(192, 190, 190);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 2rem;
    /* Add margin between circles */
}

.counter {
    font-size: 3rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.circle-name {
    font-size: 1.1rem;
    font-weight: bold;
    color: rgb(6, 63, 104);
}

/* Media query for smaller screens */
@media (min-width: 768px) {
    .circles {
        flex-direction: row;
        /* Switch back to row layout for larger screens */
        justify-content: space-around;
    }

    .circle {
        margin-bottom: 0;
        /* Remove margin between circles */
    }
}

.line {
    width: 2px;
    /* Adjust the width of the line */
    height: 100px;
    /* Adjust the height of the line */
    background-color: #000;
    /* Adjust the color of the line */
}